@model Switchboard.Models.Post

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("Add", "Post", FormMethod.Post, new { id = "post-form" }))
    {
        @Html.AntiForgeryToken();
        @Html.HiddenFor(model => model.ChannelID)

        <div class="form-horizontal">
            <hr />
            <ul class="validation-summary-errors"></ul>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Content, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button id="submit-reply" type="submit" class="btn btn-default">Reply</button>
                </div>
            </div>
        </div>
    }

    <script>
        $(document).ready(function (e) {
            $('#post-form').submit(function (e) {
                e.preventDefault();
                var $validationSummary = $('.validation-summary-errors');
                $validationSummary.empty();

                // Display loading icon
                $('#submit-reply').append('<div class="ajax-loader"></div>');

                // Submit form data via AJAX request
                var $form = $('#post-form');
                $.post($form.attr('action'), $form.serialize(), function (data, status) {
                    $('#submit-reply .ajax-loader').remove();
                    // If post made successfully, empty reply form
                    // Code for retrieving and displaying new posts defined in Channel/View
                    if (data.success === true) {
                        $('#Content').val('');
                    }
                        // On error, display validation messages
                    else {
                        for (var i = 0; i < data.errors.length; i++) {
                            $validationSummary.append('<ul>' + data.errors[i] + '</ul>');
                        }
                    }
                });
            });
        });
    </script>
}

else
{
    <p>You must be logged in to post a reply.</p>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}