@model Switchboard.Models.Post

<div class="post @(Model.Deleted? "deleted" : "")" data-post-id="@Model.ID">
    <div class="post-header">
        Posted by <span class="username">@Html.DisplayFor(model => model.User.UserName)</span>
        at @Html.ActionLink(Model.DatePosted.ToString(), "View", "Channel",
                null, null, Model.ID.ToString(), new { id = Model.ChannelID }, new { name = Model.ID.ToString() })
    </div>
    <div class="post-content">
        @if (Model.Deleted &&
                        !(User.Identity.Name == Model.User.UserName
                        || User.IsInRole("Moderator")
                        || User.IsInRole("Admin")))
        {
            <text>[ this post has been deleted ]</text>
        }
        else
        {
            @Html.DisplayFor(model => model.Content)
        }
        @if (Model.LastEdited.HasValue)
        {
            <div class="last-edited">
                Last edited: @Model.LastEdited
            </div>
        }
    </div>
    @if (Request.IsAuthenticated)
    {
        <div class="actions">
            @if (User.Identity.Name == Model.User.UserName || User.IsInRole("Moderator") || User.IsInRole("Admin"))
            {
                <a href="@Url.Action("Edit", "Post", new { id = Model.ID })" title="Edit" class="edit">
                    <span class="glyphicon glyphicon-edit"></span>
                </a>
                if (!Model.Deleted)
                {
                    <a href="@Url.Action("Delete", "Post", new { id = Model.ID })" title="Delete" class="delete">
                        <span class="glyphicon glyphicon-remove"></span>
                    </a>
                }
                else
                {
                    <a href="@Url.Action("Undelete", "Post", new { id = Model.ID })" title="Undelete" class="undelete">
                        <span class="glyphicon glyphicon-share-alt"></span>
                    </a>
                }
            }
        </div>
    }
</div>