
@model Post
@using Switchboard.Models
@using Switchboard.Models.Permissions
@using Microsoft.AspNet.Identity

<div class="post @(Model.Deleted? "deleted" : "")" data-post-id="@Model.ID">
    <div class="post-header">
        Posted by <span class="username">@Html.DisplayFor(model => model.User.UserName)</span>
        at @Html.ActionLink(Model.DatePosted.ToString(), "View", "Channel",
                null, null, Model.ID.ToString(), new { id = Model.ChannelID }, new { name = Model.ID.ToString() })
    </div>
    <div class="post-content">
        @if (PostPermissions.CanView(User.Identity?.GetUserId(), Model.ID))
        {
            @Html.DisplayFor(model => model.Content)
        }
        else
        {
            <text>[ this post has been deleted ]</text>
        }
        @if (Model.LastEdited.HasValue)
        {
            <div class="last-edited">
                Last edited: @Model.LastEdited
            </div>
        }
    </div>
    <div class="actions">
        @if (PostPermissions.CanFlag(User.Identity?.GetUserId(), Model.ID))
        {
            <a href="@Url.Action("Create", "Flag", new { postID = Model.ID })" title="Report post" class="flag">
                <span class="glyphicon glyphicon-flag"></span>
            </a>
        }
        @if (PostPermissions.CanEdit(User.Identity?.GetUserId(), Model.ID))
        {
            <a href="@Url.Action("Edit", "Post", new { id = Model.ID })" title="Edit" class="edit">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
        }
        @if (PostPermissions.CanDelete(User.Identity?.GetUserId(), Model.ID))
            {
            <a href="@Url.Action("Delete", "Post", new { id = Model.ID })" title="Delete" class="delete">
                <span class="glyphicon glyphicon-remove"></span>
            </a>
        }
        @if (PostPermissions.CanUndelete(User.Identity?.GetUserId(), Model.ID))
        {
            <a href="@Url.Action("Undelete", "Post", new { id = Model.ID })" title="Undelete" class="undelete">
                <span class="glyphicon glyphicon-share-alt"></span>
            </a>
        }
    </div>
</div>